<!DOCTYPE html>
<html ng-app="MyApp">
<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>My First</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="angularjs/angular.min.js"></script>
        <script src="Apps.js"></script>
</head>
<body ng-controller="MyController">
    <form>
        <p>
            <label>Session</label>
            <input type="text" ng-model="Input.Season"/>
        </p>
        <p>
            <label>Status</label>
            <input type="text" ng-model="Input.Status"/>
        </p>
        <p>
            <input type="submit" name="submit" value="Input" ng-click="TambahData()"/>
        </p>

    </form>
    <button type="submit" ng-click="TampilData()">Tampilkan data</button>
    <button type="submit" ng-click="Bersihkan()">Clear</button>
    <table border="1">
        <tr>
            <td>No</td>
            <td>Session</td>
            <td>Status</td>
        </tr>
        <tr ng-repeat = "item in DatasPeriode">
            <td>{{$index+1}}</td>
            <td>{{item.Session}}</td>
            <td>{{item.Status}}</td>
        </tr>
    </table>
</body>
</html>